*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body{
  color: azure;
  background-color: rgba(53, 52, 52, 0.11);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 4opx;
}

h1{
  color: black;
  font-size: 25px;
  font-family: Roboto;
  text-align: center;
  margin: 20px 0;
}

.tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}

.loho-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.logo{
  width: 400px;
  height: 150px;
}

.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #fafaff;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}
